* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)!important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0)!important;
    outline: none!important;
    margin: 0
}

@font-face {
    font-family: 'statefaceregular';
    src: url('webfont/StateFace-Regular-webfont.eot');
    src: url('webfont/StateFace-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/StateFace-Regular-webfont.woff2') format('woff2'),
         url('webfont/StateFace-Regular-webfont.woff') format('woff'),
         url('webfont/StateFace-Regular-webfont.ttf') format('truetype'),
         url('webfont/StateFace-Regular-webfont.svg#statefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

html,
body {
    height: 100%;
    width: 100%;
    height: 100vh;
    max-width: 2000px;
    margin: 0
}

body {
font-family: "Decimal A", "Decimal B";
font-style: normal;
font-weight: 400;    font-size: 17px;
    background-color: #F0F0F0;
    color: #444
}

.state {
  font-family: "StateFaceRegular";
  font-size:24px
  ;
  
}

.mainhed {
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 800;
font-size: 60px;
}

.important_num1 {
    color:#0BC9CD;
    font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 800;
font-size: 50px;

}

p {
    line-height: 1.5;
    margin: 0 0 10px 0
}

a:link,
a:visited,
a:hover,
a:active {
    color: #444
}

.container {
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    min-height: 75vh
}

.all_anchor {
    width: 100%
}

#header_bar .thirds {
    width: 15%;
    float: left
}

#header_bar .middlethird {
    width: 70%;
    float: left
}

.all_anchor {
    padding: 25px 0 15px 0;
    background-color: black;
    justify-content: center
}

.all_anchor_links {
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 15px
}

.icon-nav {
    display: block
}

.icon-nav2 {
    display: inline-block;
    padding: 0 30px 0 15px
}

.icon-nav a {
    color: #FFF!important;
    font-size: 14px
}

.icon-nav2 a {
    color: #444
}

.gif_container {
    min-width: 300px;
    max-width: 1050px;
    padding-left: 15px;
    margin: 0 auto
}

.mobile_p {
    display: none
}

.mobile_search img {
    display: none
}

#header_bar {
    width: 100%;
    background-color: black;
    height: 70px
}

#header_bar img,
.img-responsive {
    display: inline-flex;
    height: 80%;
    margin-top: 5px;
    margin-left: 10px
}

#footer_bar {
    width: auto;
    float: right;
    background-color: black;
    height: 70px
}

#header_bar a,
#footer_menu a {
    text-decoration: none!important;
    font-size: 15px!important
}

#footer_bar img {
    height: 80%;
    margin-top: 5px;
    margin-left: 15px
}

.inline div#footer_bar img {
    width: auto
}

footer .thirds {
    width: 40%;
    float: left
}

img.share {
    margin: 0;
    text-align: right;
    float: right
}

#logo {
    margin: 30px auto 0 auto
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%
}

.dek {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px
}

.sub_dek {
    text-align: left;
    font-size: 20px;
    line-height: 1.6
}

.sub_dek p {
    padding: 10px 20px 12px 20px
}

section {
    margin: 20px 0 20px 0
}

h2.section_hed {
    margin: 60px 0 20px 0;
    width: 100%;
    line-height: 3;
    text-align: left;
    font-weight: 400;
    color: #000
}

h2.section_hed span.border {
    background-color: #444;
    color: #fff;
    padding: 14px;
    font-size: 17px;
    text-transform: uppercase;
    opacity: 1;
    letter-spacing: 1px
}

li .third_label {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
    color: #444
}

.inline {
    margin: auto;
    width: 100%;
    padding: 0 0 20px 0
}

.inline a {
    font-size: 16px;
    color: #444;
    font-weight: 700
}

.clear:after {
    clear: both;
    display: table;
    content: ""
}

.left,
.right {
    text-align: left;
    width: 50%;
    float: left
}

.top_explainer {
    margin: 30px 0;
    line-height: 1.3
}

.myinput-hidden_btn,
.myinput-hidden2_btn {
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 15px;
    position: relative;
    right: 5px;
    top: -10px
}

.myinput-hidden_btn a,
.myinput-hidden2_btn a {
    background-color: #40798C;
    float: left;
    display: block;
    text-align: center;
    padding: 0 10px 10px 10px;
    margin: 0;
    font-size: 13px;
    position: relative;
    right: -10px;
    top: -10px;
    font-weight: 700;
    border-radius: 5px
}

.myinput-hidden_btn img,
.myinput-hidden2_btn img {
    width: 30px;
    margin-bottom: 10px
}

.database {
    padding: 12px 20px 12px 20px;
    margin-top: 10px;
    background-color: #fdfdfd;
    width: 100%;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45)
}

div.disclaimer p,
section#disclaimer p {
    font-size: 15px
}

nav.database p {
    font-size: 17px;
    margin: 10px 0 30px 0
}

div.disclaimer p {
    padding: 0;
    margin: 0
}

.disclaimer_btn span {
    font-size: 15px;
    padding-left: 5px
}

.disclaimer_hidden {
    padding: 5px 0 20px 0;
    display: none
}

.disclaimer_hidden {
    font-style: italic;
    line-height: 1.5
}

.disclaimer_btn span {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer
}

nav.database div.left,
nav.database div.right {
    text-align: left;
    box-sizing: border-box
}

.database img {
    position: relative;
    top: 10px;
    left: 0
}

div.disclaimer,
section#disclaimer {
    margin: 15px 0 0 0;
    font-style: italic;
    line-height: 1.5
}

.database .inline li {
    font-weight: normal!important
}

[hidden] {
    display: none
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0)
}

div.awesomplete {
    display: inline-block;
    position: relative
}

div.awesomplete>input {
    display: block
}

div.awesomplete>ul {
    position: absolute;
    left: 0;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    border-radius: 3px;
    margin: .2em 0 0;
    background: white;
    border: 1px solid #dcdcdc;
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    text-shadow: none;
    text-align: left
}

div.awesomplete>ul[hidden],
div.awesomplete>ul:empty {
    display: none
}

@supports (transform:scale(0)) {
    div.awesomplete>ul[hidden],
    div.awesomplete>ul:empty {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease
    }
}

div.awesomplete>ul:before {
    content: "";
    position: absolute;
    top: -.33em;
    right: 1em;
    width: 0;
    height: 0;
    padding: .3em;
    background: white;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

div.awesomplete>ul>li {
    position: relative;
    padding: .5em .5em;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px
}

div.awesomplete>ul>li:hover {
    background: #f4fafd;
    color: #197fa8
}

div.awesomplete>ul>li[aria-selected="true"] {
    background: #fafafa;
    color: #197fa8
}

div.awesomplete mark {
    background: #FFF8DC
}

div.awesomplete li:hover mark {
    background: #E5EBEE
}

div.awesomplete li[aria-selected="true"] mark {
    background: #20A1D4;
    color: white
}

.form-redux .option_labels {
    position: relative;
    display: inline-block;
    font-size: 16px
}

label {
    z-index: 10000000;
    font-size: .9em;
    text-align: left;
    font-weight: 700;
    font-weight: 700;
    margin-bottom: 10px;
    color: #444
}

.option_labels span.dropdown-activate {
    position: absolute;
    right: -.5em;
    top: -.15em;
    padding: 1em;
    color: #dcdcdc;
    font-size: 12px;
    z-index: -1
}

.awesomplete mark {
    background-color: #42ACC9!important
}

input {
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border: 0;
    color: #40798C;
    border-bottom: 2px solid #40798C;
    background: none;
    text-align: left
}

footer {
    width: 100%;
    background-color: black;
    padding: 5px 0 10px 0;
    margin: 0 auto;
    font-size: 15px;
    height: auto!important;
    color: #EBEBEB
}

#footer_menu {
    width: 100%;
    min-height: 20px;
    position: relative
}

#footer_menu a {
    display: inline-block;
    padding: 10px 5% 0 5%;
    min-height: 20px;
    color: #E6E6E6!important;
    font-weight: 700
}

#footer_menu a:hover {
    color: #E6E6E6!important;
    background-color: inherit
}

#footer_menu #left_list,
#footer_menu #right_list {
    width: 50%;
    float: left
}

#footer_menu #left_list {
    float: left
}

.fourths {
    float: right
}

#footer_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width display: inline-block;
    width: 100%
}

.subscribe_form {
    padding: 10px 10%
}

footer input[type=text],
footer select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    background-color: #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    color: #444!important
}

footer input[type=submit] {
    width: auto;
    background-color: #FFF;
    color: black;
    margin: 8px 0;
    text-align: right;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

footer .left,
footer .right {
    padding: 0 70px
}

footer .right {
    text-align: left
}

.topstory {
    text-align: center;
    width: 50%;
    padding: 3px 10px;
    float: left
}

.topstory img {
    width: 80%;
    height: 100px;
    padding: 10px
}

.topstory a {
    font-size: 15px;
    width: 90%;
    text-decoration: none
}

.topstory p {
    padding-top: 10px;
    font-size: 14px;
    color: #777
}

a.title_link {
    text-decoration: underline
}

section#topstories .inline {
    margin: 0 auto
}

section#lateststories {
    margin-top: 50px
}

section#topstories {
    margin-bottom: 10px
}

.latest_stories_list {
    padding: 0 10px
}

.latest_stories_list ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.5!important;
    padding: 0
}

.latest_stories_list li {
    padding: 20px 0
}

li.latest {
    padding: 0
}

.nopadding {
    padding-top: 0
}

.latest_stories_list a {
    color: #444;
    font-size: 15px;
    font-weight: 700
}

.date {
    color: #444;
    font-size: 15px
}

.active {
    color: #fff!important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    outline: none!important;
    box-shadow: none!important
}

section#tips {
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto
}

#tips .left,
#tips .right {
    height: 150px;
    padding: 30px 10px 30px 10px;
    text-align: center;
    background-color: #E6E6E6;
    width: 50%;
    position: relative;
    top: 0;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .45)
}

#tips span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .8px
}

#tips a,
.read_more a {
    padding: 10px;
    font-weight: normal!important;
    font-size: 15px;
    color: #E6E6E6!important;
    background-color: #40798C;
    display: inline-block;
    margin-top: 10px
}

#tips a {
    margin-top: 15px
}

.hamburgericon {
    display: none
}

@media screen and (max-width:1200px) {
    .hamburgericon {
        display: block;
        margin: 0;
        text-align: right;
        float: right
    }
    a.hamburgericon {
        color: #FFF;
        padding: 10px 10px 0 0
    }
    .icon-nav {
        overflow: hidden;
        background-color: black;
        position: relative;
        display: block
    }
    .icon-nav a {
        color: #FFF;
        font-size: 14px;
        padding: 14px 16px;
        display: block
    }
    .icon-nav a:hover {
        background-color: #ddd;
        color: black
    }
    .all_anchor {
        margin: 15px 0 0 0;
        display: none;
        padding: 5px 0 15px 0
    }
    #header_bar .thirds {
        width: 40%;
        float: left
    }
    #header_bar .lastthird {
        width: 50%;
        float: right
    }
    #header_bar .middlethird {
        width: 50%;
        float: left
    }
    .database {
        clear: left
    }
}

@media screen and (max-width:769px) {
    .container {
        padding: 10px
    }
    .dek {
        font-size: 23px
    }
    footer .left,
    footer .right {
        padding: 0 10px
    }
}

@media screen and (max-width:700px) {
    .dek {
        font-size: 21px
    }
    footer .left,
    footer .right {
        padding: 0 10px
    }
}

@media screen and (max-width:520px) {
    .all_anchor {
        margin: 5px 0 0 0
    }
    nav.database p,
    div.disclaimer p,
    section#disclaimer {
        padding: 10px;
        font-size: 13px
    }
    div.disclaimer p,
    section#disclaimer {
        padding: 0
    }
    nav.database p {
        margin: 0 0 10px 0
    }
    .all_anchor_links {
        display: block
    }
    a.hamburgericon {
        padding: 0 10px 0 0
    }
    .top_explainer {
        margin: 15px 0;
        font-size: 15px
    }
    footer .thirds {
        width: 100%
    }
    .img-responsive {
        background:url({% static 'database/img/UseForceLogo_mobile.svg' %}) no-repeat;
        margin-top: 0
    }
    .subscribe_form {
        padding: 10px 4%
    }
    .container {
        margin: 0;
        padding: 10px
    }
    #logo {
        margin: 20px auto 0 auto
    }
    #logo img {
        width: 100%
    }
    #header_bar {
        height: 70px
    }
    #header_bar img {
        margin: 5px 5px 0 5px;
        width: 95%
    }
    .dek {
        margin: 0 auto;
        width: 90%;
        font-size: 18px
    }
    .sub_dek {
        font-size: 15px
    }
    img.share {
        display: none!important
    }
    .share {
        display: hidden
    }
    nav.database div.right,
    nav.database div.left {
        padding: 0 0 0 10px
    }
    nav.database div.left {
        margin-bottom: 30px
    }
    .myinput-hidden_btn,
    .myinput-hidden2_btn {
        text-transform: uppercase;
        font-size: 13px;
        display: inline-block;
        width: 50px;
        cursor: pointer;
        height: 15px;
        position: relative;
        right: 0;
        top: 0
    }
    .database {
        margin: 0;
        padding: 15px 0;
        clear: left
    }
    .inline {
        padding: 10px 0
    }
    .inline img {
        height: 100%;
        width: 100%
    }
    .left,
    .right {
        width: 100%
    }
    h2.section_hed {
        margin: 20px 0 10px 0
    }
    section#topstories div.inline.clear {
        padding: 0
    }
    section#topstories div.topstory {
        width: 100%;
        margin-top: 10px
    }
    div.topstory img {
        width: 90%;
        height: 90px;
        margin-top: 5px
    }
    section#topstories div.statestory {
        width: 100%;
        margin-top: 10px
    }
    .latest_stories_list {
        padding: 30px 5px 10px 0
    }
    .read_more {
        margin: 0 auto;
        width: 100%
    }
    #tips .left,
    #tips .right {
        width: 100%
    }
    footer .left,
    footer .right {
        padding: 0 10px;
        width: 100%
    }
    footer p {
        font-size: 14px
    }
    #footer_menu {
        padding: 0 15px
    }
    #footer_menu a {
        margin-top: 10px;
        max-width: 100%;
        padding: 0 5px 0 5px;
        float: none;
        text-align: left;
        display: block
    }
    #footer_menu ul {
        display: block;
        margin: 0;
        padding: 0
    }
}

